.project {
  position: relative;

  $block: &;

  &--fondue {
    width: 100vw;
    height: 50rem;
    min-height: 37.5vh;
    padding-top: 8.5rem;
    padding-left: 9rem;

    background-color: white;

    @include respond-to(desktop) {
      width: 38vw;
      height: 50vh;
      min-height: 0;
      padding-top: 8.5vh;
      padding-left: 6vw;
    }

    #{$block}__title {
      margin-bottom: 1.5rem;

      @include respond-to(desktop) {
        margin-bottom: 1.5vh;
      }
    }

    #{$block}__image {
      top: 0;
      right: 0;

      width: 100%;
      height: 100%;

      background-image: url("./images/lamp.png");
      background-position: top right;
      background-size: contain;
    }

    #{$block}__info {
      margin-bottom: 9rem;

      @include respond-to(desktop) {
        margin-bottom: 9vh;
      }
    }

    #{$block}__link {
      margin-bottom: 11rem;

      @include respond-to(desktop) {
        margin-bottom: 11vh;
      }
    }
  }

  &--potter {
    width: 50vw;
    height: 25rem;
    min-height: 12.5vh;
    padding-top: 3.2rem;
    padding-left: 3rem;

    background-color: $quill-gray;

    @include respond-to(desktop) {
      width: 31vw;
      height: 25vh;
      min-height: 0;
      padding-top: 3.2vh;
      padding-left: 2vw;
    }

    #{$block}__title {
      margin-bottom: 1.2rem;

      @include respond-to(desktop) {
        margin-bottom: 1.2vh;
      }
    }

    #{$block}__image {
      top: 0;
      right: 0;

      width: 100%;
      height: 100%;

      background-image: url("./images/stuff.png");
      background-position: top right;
      background-size: contain;
    }

    #{$block}__description {
      width: 17rem;
      margin-bottom: 1.5rem;

      @include respond-to(desktop) {
        margin-bottom: 1.5vh;
      }
    }

    #{$block}__link {
      margin-bottom: 2rem;

      @include respond-to(desktop) {
        margin-bottom: 2vh;
      }
    }
  }

  &--fiji {
    width: 50vw;
    height: 25rem;
    min-height: 12.5vh;
    padding-top: 4.8rem;
    padding-left: 30rem;

    background-color: white;

    @include respond-to(desktop) {
      width: 31vw;
      height: 25vh;
      min-height: 0;
      padding-top: 4.8vh;
      padding-left: 18vw;
    }

    #{$block}__title {
      margin-bottom: 2rem;

      @include respond-to(desktop) {
        margin-bottom: 2vh;
      }
    }

    #{$block}__image {
      top: 0;
      right: 0;

      width: 100%;
      height: 100%;

      background-image: url("./images/armchair.png");
      background-position: top left;
      background-size: contain;
    }

    #{$block}__info {
      margin-bottom: 2.3rem;

      @include respond-to(desktop) {
        margin-bottom: 2.3vh;
      }
    }

    #{$block}__link {
      margin-bottom: 2rem;

      @include respond-to(desktop) {
        margin-bottom: 2vh;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    margin-top: 0;
    margin-bottom: 0;

    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-family: $roboto-condensed;
    color: $gray-51;
    text-transform: uppercase;
  }

  &__image {
    position: absolute;

    background-repeat: no-repeat;
  }

  &__info {
    position: relative;
    z-index: 1;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

    &-item {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-family: $roboto-condensed;
      color: $gray-51;
      text-transform: uppercase;
    }

    &-title {
      font-weight: bold;
    }
  }

  &__description {
    position: relative;
    z-index: 1;

    margin-top: 0;
    margin-bottom: 0;

    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: $roboto-condensed;
    color: $gray-51;
  }

  &__action {
    position: relative;
    z-index: 1;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    position: relative;

    flex-shrink: 0;
    padding-left: 3rem;

    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: $roboto-condensed;
    color: $gray-51;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      &:before {
        transform: translate3d(20%, -50%, 0);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 1.9rem;
      height: 1.5rem;

      background-image: url("./images/orange-arrow.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transform: translate3d(0, -50%, 0);

      transition: transform 0.2s;
    }
  }

  &__like {
    flex-shrink: 0;
  }
}
