.like {
  position: relative;

  padding-top: 3rem;

  text-decoration: none;

  &:hover {
    &:before {
      transform: translate3d(-50%, 0, 0) scale(1.1);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 2.4rem;
    height: 2.2rem;

    background-image: url("./images/heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translate3d(-50%, 0, 0);

    transition: transform 0.2s;
  }

  &__amount {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-family: $roboto-condensed;
    color: $red;
  }
}
