@import "./mixins";
@import "./fonts";
@import "./colors";

* {
  box-sizing: border-box;
}

html {
  opacity: 0;

  transition: opacity 0.2s;

  &.active {
    opacity: 1;
  }
}

body {
  @include respond-to(desktop) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
