$roboto: "Roboto";
$roboto-condensed: "RobotoCondensed";

/* Roboto */

@font-face {
  font-family: $roboto;
  src: url("./fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* RobotoCondensed */

@font-face {
  font-family: $roboto-condensed;
  src: url("./fonts/RobotoCondensed/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $roboto-condensed;
  src: url("./fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $roboto-condensed;
  src: url("./fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}