.navigation {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  height: 50rem;
  min-height: 25vh;
  padding-top: 5rem;

  background-color: $monte-carlo;

  @include respond-to(desktop) {
    justify-content: flex-start;
    width: 31vw;
    height: 50vh;
    min-height: 0;
    padding-top: 5vh;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("./images/gray-line.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__main-menu {
    flex-shrink: 0;
    align-self: center;
    margin-bottom: auto;

    @include respond-to(desktop) {
      margin-bottom: 9vh;
    }
  }

  &__address {
    flex-shrink: 0;
    margin-bottom: 4rem;
    margin-left: 5.5rem;

    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-family: $roboto-condensed;
    color: white;
    text-transform: uppercase;

    @include respond-to(desktop) {
      margin-bottom: 4vh;
      margin-left: 3.5vw;
    }
  }

  &__connection {
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 9.6rem;
    margin-left: 14rem;

    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-family: $roboto-condensed;
    color: white;
    text-transform: uppercase;

    @include respond-to(desktop) {
      margin-bottom: 0;
      margin-left: 10vw;
    }
  }
}
