.main-block {
  position: relative;

  width: 100vw;
  height: 50rem;
  min-height: 25vh;
  padding-top: 5rem;
  padding-left: 16.5rem;

  background-color: $cararra;

  @include respond-to(desktop) {
    width: 69%;
    height: 50vh;
    padding-top: 5vh;
    padding-bottom: 0;
    padding-left: 11vw;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 63.2rem;
    height: 44.1rem;

    background-image: url("./images/chairs.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__logo {
    margin-bottom: 6rem;

    @include respond-to(desktop) {
      margin-bottom: 6vh;
    }

    &-image {
      width: 16.2rem;
      height: 20.7rem;
      margin-bottom: 0.5rem;

      background-image: url("./images/logo-dsgn.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &-text {
      margin-top: 0;
      margin-bottom: 0;

      font-weight: normal;
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-family: $roboto-condensed;
      color: $cape-cod;
      text-transform: uppercase;
    }
  }
}
