@import "./projects-menu";

.projects {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  height: 50rem;
  min-height: 25vh;
  padding-bottom: 13rem;

  background-color: $tulip-tree;

  @include respond-to(desktop) {
    width: 31vw;
    height: 50vh;
    min-height: 0;
    padding-bottom: 13vh;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("./images/white-line.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__menu {
    margin-bottom: 6.5rem;
    margin-left: 14rem;

    @include respond-to(desktop) {
      margin-bottom: 6.5vh;
      margin-left: 9vw;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22rem;

    font-weight: normal;
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-family: $roboto-condensed;
    color: white;
    text-transform: uppercase;

    @include respond-to(desktop) {
      margin-left: 13vw;
    }
  }
}
