.projects-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  $block: &;

  &__item {
    &--active {
      #{$block}__link {
        color: black;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -3rem;

          width: 1.9rem;
          height: 1.5rem;

          background-image: url("./images/white-arrow.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__link {
    position: relative;

    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-family: $roboto-condensed;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    transition: color 0.2s;

    &:hover {
      color: black;
    }
  }
}
